.header__text {
  text-align: center;
  margin-bottom: 10px;
}

.header__text h1 {
  color: #8274dc;
}

.result__item {
  display: flex;
  justify-content: space-between;
}

.reset__form {
  margin: 20px 0;
  cursor: pointer;
  color: hotpink;
}
